body {
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ededed 85%, #cccccc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(85%, #ededed), color-stop(100%, #cccccc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ededed 85%, #cccccc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ededed 85%, #cccccc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ededed 85%, #cccccc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, white 0%, #ededed 85%, #cccccc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cccccc',GradientType=0 );
  /* IE6-9 */ }

.mousepointer {
  cursor: pointer; }
