.shoppingList .itemList {
  background-color: #fcfcfc;
  border-radius: 5px; }

.shoppingList .itemList .productList .row {
  border-bottom: solid 1px #e9e9e9;
  border-left: solid 1px #cbcbcb;
  border-right: solid 1px #cbcbcb;
  padding-top: 9px; }

.shoppingList .row .nameColumn {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle; }

.shoppingList .row .name {
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
  width: 225px; }

.shoppingList .row .brand {
  font-size: 8px;
  color: #999999; }

.shoppingList .row .store {
  display: inline-block;
  vertical-align: middle; }

.shoppingList .row .delete {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px; }

.shoppingList .row img {
  width: 50px; }

.shoppingList .itemList .titleBar {
  background-color: #585858;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.shoppingList .itemList .footerBar {
  background-color: #585858;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }

.shoppingList .itemList .title {
  font-size: 11px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5px; }

.row {
  height: 50px; }

.row.hover {
  background-color: #e4e4e4; }

.row.x-item-selected {
  background-color: #d9e2ef; }

.shoppingList .deleteButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
  background: -moz-linear-gradient(center top, #ededed 5%, #dfdfdf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color: #ededed;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  color: #777777;
  font-family: arial;
  font-size: 9px;
  font-weight: normal;
  padding: 3px 10px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #ffffff; }

.deleteButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
  background: -moz-linear-gradient(center top, #dfdfdf 5%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color: #dfdfdf;
  cursor: pointer; }

.deleteButton:active {
  position: relative;
  top: 1px; }
